<section id="footer">
    <div class="container">
        <footer id="page-footer">
            <div class="footer-logo--wrapper">
                <img src="img/montefiore_logo_V_gray.svg" class="footer-logo">
                <img src="img/CLAFH_stacked_color.svg" class="footer-logo footer-logo--nyu">
            </div>
            <div class="footer-links--wrapper">
                <a href="https://www.cham.org/programs-centers/adolescent-aids-program" class="footer-link site">Visit AdolescentAIDS.org</a>
                <span class="divider">|</span>
                <a href="https://behivfree.com/" class="footer-link">Learn if PrEP is right for you</a>
                <span class="divider">|</span>
                <div class="footer-social--wrapper">
                    <p class="footer-social--heading">Follow Montefiore on social media</p>
                    <div class="footer-social--icons">
                        <a href="https://www.facebook.com/AdolescentAIDSProgram/" target="_blank" class="footer-social--icon btn-fb"></a>
                        <a href="https://twitter.com/AdolescentAIDS" target="_blank" class="footer-social--icon btn-twitter"></a>
                        <a href="https://www.instagram.com/aap_cham/" target="_blank" class="footer-social--icon btn-insta"></a>
                    </div>
                </div>
            </div>
            <p class="disclaimer">
                This project was funded in part by the New York City Department of Health and Mental Hygiene through a contract with Public Health Solutions. Its contents are solely the responsibility of Montefiore and do not necessarily represent the official views of the funders.
            </p>
            <p class="legal-consent">
                <a name="legal"></a>
                *By clicking "I consent", I: 1. Understand that my texts with the Squad are not secure communications, 2. Understand that 
                I am not texting with medical professionals or providers, 3. Am agreeing to receive text messages from the members of the Squad, and 4. I can opt out at any time, if I no longer wish to receive messages.
            </p>
        </footer>
    </div>
</section>