<div class="fixed-top d-none" id="nav-holder">

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light">
            <nav >
                <a href="/about.html" class="nav-link">About</a>
                <a href="/#meet-ash" class="nav-link nav-link--anchor" data-offset="-100">Meet Ash</a>
                <a href="/#meet-mason" class="nav-link nav-link--anchor" data-offset="-100">Meet Mason</a>
                <a href="/#meet-tavar" class="nav-link nav-link--anchor" data-offset="-160">Meet Tavar</a>
                <a href="/#meet-tayshana" class="nav-link nav-link--anchor" data-offset="-160">Meet Tayshana</a>
                <a href="/#meet-meagan" class="nav-link nav-link--anchor" data-offset="-160">Meet Meagan</a>
                <a href="/#meet-jonathan" class="nav-link nav-link--anchor" data-offset="-160">Meet Jonathan</a>
                <a href="/#meet-hayden" class="nav-link nav-link--anchor" data-offset="-160">Meet Hayden</a>
            </nav>
        </div>
    </div>
    <nav class="navbar fixed-top navbar-montefiore-dark justify-content-center ">
        <div class="lockup d-flex  align-self-lg-center justify-content-between align-items-center">
            
            <a class="navbar-brand" href="/"><img src="img/montefiore_logo_RGB.svg" alt="" width="100%" class="navbar-logo--left" /></a>

            <div class="menu-group d-lg-flex">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-text">MENU</span><span class=""><svg id="menu-logo"></svg></span>
                </button>

            </div>

        </div>
    </nav>

</div>


