<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TLZ6R39');</script>
    <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Montefiore Be You Squad</title>
  <link rel="stylesheet" href="https://use.typekit.net/lvt0yoq.css">
  <link rel="stylesheet" href="/css/master.css">
</head>
{% block body %}{% endblock %}
<script src="/__/firebase/5.5.9/firebase-app.js" defer ></script>
<script src="/__/firebase/init.js" defer ></script>
<script src="js/vendor.js" defer></script>
<script src="js/main.js" defer></script>
<script src="js/modernizr.js"></script>
<script src="https://widget.heymarket.com/heymk-widget.bundle.js"></script>
<script>
    function init() {
        var imgDefer = document.getElementsByTagName('img');
        for (var i=0; i<imgDefer.length; i++) {
            if(imgDefer[i].getAttribute('data-src')) {
                imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
            } } }
    window.onload = init;
</script>


</html>