.About {
    padding-top: 40px;
    clear: both;
    width: 100%;
    float: left;
    position: relative;
    @media (min-width: 992px) {
        padding-top: 60px;
    }
}

.About--wrapper {
    text-align: left;
    @media (min-width: 992px) {
        margin: 0 auto;
        width: 80%;
    }
    &.About--wrapper-one {
        @media (min-width: 992px) {
            margin-right: 60px;
        }
    }
    &.About--wrapper-two {
        @media (min-width: 992px) {
            margin-left: 60px;
            margin-top: -300px;
        }
    }
}

.About--images-wrapper {
    position: relative;
    display: inline-block;
    &--one {
        @media (min-width:992px) {
            float: right;
        }
    }
    &--two {
        @media (min-width:992px) {
            float: left;
        }
    }
}

.About--image {
    position: relative;
    z-index: 2;
    width: 75%;
    @media (min-width: 375px) {
        width: 270px;
    }
    @media (min-width: 992px) {
        width: 414px;
    }
}

.About--pattern {
    z-index: 1;
    margin-top: -115px;
    margin-left: 120px;
    width: 55%;
    &.About--pattern-D {
        display: none;
    }
    @media (min-width: 375px) {
        margin-top: -155px;
        margin-left: 130px;
        width: 200px;
    }
    @media (min-width: 992px) {
        &.About--pattern-D {
            display: block;
        }
        &.About--pattern-M {
            display: none;
        }
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        width: 240px;
        margin-top: 0;
        margin-left: 0;
    }

    .About--images-wrapper--one & {
        @media (min-width: 992px) {
            left: -190px;
        }
    }
    .About--images-wrapper--two & {
        @media (min-width: 992px) {
            left: 360px;
            width: 300px;
        }
    }
}