$font-size-1: 33px;
$font-size-2: 40px;
$line-height-1: 26px;
$line-height-2: 30px;
$margin: -80px;

.Connect {
    margin-bottom: 40px;
    clear: both;
    float: left;
    width: 100%;
    @media (min-width: 992px) {
        margin-bottom: 70px;
    }
}

.Connect--container.container {
    @media (max-width: 991px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.Connect--block {
    padding-top: 60px;
    width: 100%;
    @media (min-width: 992px) {
        clear: both;
        float: left;
        position: relative;
        padding-top: 100px;
    }
}

.Connect--block-container {
    padding-top: 105px;
    @media (min-width: 992px) {
        .odd & {
            float: left;
        }
        .even & {
            float: right;
        }
    }
}

.Connect--block-one {
    @media (min-width: 992px) {
        padding-top: 40px;
    }
} 

.Connect--block-wrapper {
    position: relative;
    @media (min-width: 992px) {
        width: 374px;
    }
    @media (min-width: 1200px) {
        width: 414px;
    }
    .odd & {
        @media (min-width: 992px) {
            float: right;
        }
    }
    .even & {
        @media (min-width: 992px) {
            float: left;
            margin-right: $margin;
        }
    }
}

.Connect--heading-wrapper {
    position: absolute;
    top: -90px;
    width: 87%;
    @media (min-width: 414px) {
        width: 85%;
        top: -105px;
        /* .Connect--block-six & {
            top: -135px;
        } */
    }
    
    &--right {
        text-align: right;
        right: 22px;
        float: right;
        @media (min-width: 414px) {
            right: 40px;
        }
    }
    &--left {
        text-align: left;
        left: 22px;
        float: left;
        @media (min-width: 414px) {
            left: 40px;
        }
    }
}

.Connect--heading {
    font-family: $font-gibson;
    font-weight: $weight-bold;
    text-transform: uppercase;
    font-size: $font-size-1;
    line-height: $line-height-1;
    color: $black;
    margin-bottom: 0;
    @media (min-width: 414px) {
        font-size: $font-size-2;
        line-height: $line-height-2;
    }
}

.Connect--image {
    width: 100%;
}

.qm {
    font-family: $font-gibson;
    font-weight: $weight-bold;
    font-size: $font-size-1;
    line-height: $line-height-1;
    @media (min-width: 414px) {
        font-size: $font-size-2;
        line-height: $line-height-2;
    }
    &--blue {
        color: $blue;
    }
    &--pink {
        color: $pink;
    }
    &--purple {
        color: $purple;
    }
    &--green {
        color: $green;
    }
    &--aqua {
        color: $aqua;
    }
    &--red {
        color: $red;
    }
    &--orange {
        color: $orange;
    }
    &--teal {
        color: $teal;
    }
    &.outer {
        position: absolute;
        .Connect--heading-wrapper--left & {
            right: 100%;
        }
    }
}

.outer {
    position: absolute;
}


.Connect--byline {
    font-weight: $weight-bold;
    margin-top: 40px;
    line-height: 16px;
    letter-spacing: .5px;
    background-color: $white;
    display: inline-block;
    &--right {
        text-align: right;
        margin-right: -22px;
        padding: 10px 40px 10px 15px;
        @media (min-width: 414px) {
            margin-right: -40px;
        }
        @media (min-width: 992px) {
            margin-right: -40px;
        }
    }
    &--left {
        text-align: left;
        margin-left: -22px;
        padding: 10px 15px 10px 40px;
        @media (min-width: 414px) {
            margin-left: -40px;
        }
        @media (min-width: 992px) {
            margin-left: -40px;
        }
    }
}

.Connect--button-wrapper {
    text-align: center;
}

.Connect--button {
    background-color: $white;
    border-radius: 25px;
    border: 1px solid $black;
    padding: 10px 20px;
    font-family: $font-gibson;
    font-weight: $weight-bold;
    font-size: 16px;
    color: $black;
    letter-spacing: $text-font-spacing;
    text-align: center;
    min-width: 250px;
    text-decoration: none;
    transition: .2s;
    &:hover {
        color: $white;
        background-color: $black;
        text-decoration: none;
    }
}

.Connect--button-top {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    &.hide {
        display: none;
    }
    @media (min-width: 992px) {
        display: none;
    }
    &.mobile {
        @media (min-width: 768px) {
            display: none;
        }
    }
    &.tablet {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.Connect--button-bottom {
    display: inline-block;
    &.desktop {
        display: none;
    }
    @media (min-width: 768px) {
        &.desktop {
            display: inline-block;
        }
        &.mobile {
            display: none;
        }
    }
}

.Connect--dropdown-toggle {
    font-family: $font-titillium;
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: $text-font-spacing;
    display: block;
    padding: 40px 0 7px;
    margin: 0 22px;
    @media (min-width: 414px) {
        margin: 0 40px;
    }
    @media (min-width: 992px) {
        display: none;
    }
    
    &.blue {
        color: $blue;
    }
    &.pink {
        color: $pink;
    }
    &.purple {
        color: $purple;
    }
    &.green {
        color: $green;
    }
    &.aqua {
        color: $aqua;
    }
    &.red {
        color: $red;
    }
    &.orange {
        color: $orange;
    }
    &.teal {
        color: $teal;
    }
    &:hover {
        text-decoration: none;
    }
    &.collapsed {
        .Connect--dropdown-toggle_caret {
            transform: rotate(0deg);
        }
    }
    &.top {
        padding: 26px 0 7px;
        .Connect--dropdown-toggle_caret--text {
            visibility: hidden;
            float: right;
        }
    }
    &.top.collapsed {
        border-bottom: 1px solid #EBEBEB;
        .Connect--dropdown-toggle_caret--text {
            visibility: visible;
        }
    }
    
    &.bottom {
        border-bottom: 1px solid #EBEBEB;
        .Connect--dropdown-toggle_caret--text {
            visibility: visible;
            display: block;
            text-align: right;
            
        }
    } 
}

.Connect--dropdown-toggle_caret {
    font-weight: $weight-normal;
    width: 18px;
    color: $black;
    margin-left: 5px;
    display: inline-block;
    transform: rotate(-180deg);
    margin-top: -2px;
    &--text {
        text-transform: uppercase;
        color: $black;
        font-family: $font-titillium;
        font-weight: $weight-light;
        font-size: 16px;
        letter-spacing: $text-font-spacing;
    }
}

.Connect--collapse {
    @media (min-width: 992px) {
        display: block !important;
        width: 586px;
        background-color: #F6F6F8;
        margin-top: 40px;
        min-height: 374px;
        .even & {
            float: right;
        }
        .odd & {
            margin-right: $margin;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        width: 676px;
        min-height: 414px;
    }
}

.Connect--name {
    font-family: $font-titillium;
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: $text-font-spacing;
    margin-bottom: 24px;
    @media (max-width: 991px) {
        display: none;
    }
    &.blue {
        color: $blue;
    }
    &.purple {
        color: $purple;
    }
    &.pink {
        color: $pink;
    }
    &.green {
        color: $green;
    }
    &.aqua {
        color: $aqua;
    }
    &.green {
        color: $green;
    }
    &.red {
        color: $red;
    }
    &.orange {
        color: $orange;
    }
    &.teal {
        color: $teal;
    }
}

.Connect--collapse-body {
    margin: 0 22px;
    padding-top: 17px;
    @media (min-width: 414px) {
        margin: 0 40px;
    }
    @media (min-width: 992px) {
        padding: 40px 0 50px 0;
    }
    .even & {
        @media (min-width: 992px) {
            margin: 0 60px 0 140px;
        }
    }
    .odd & {
        @media (min-width: 992px) {
            margin: 0 140px 0 60px;
        }
    }
}

.Connect--availability {
    margin-top: 24px;
}

.Connect--button-wrapper {
    padding-top: 40px;
    text-align: center;
}