@import 'vars';

.Heading--wrapper {
    padding-top: 60px;
    clear: both;
    @media (min-width: 992px) {
        padding-top: 70px;
    }
}

.About + .Heading--wrapper {
    padding-top: 40px;
    @media (min-width: 992px) {
        padding-top: 100px;
    }
}

.Hero + .Heading--wrapper {
    @media (min-width: 992px) {
        padding-top: 100px;
    }
}

.ListHeading--wrapper {
    clear: both;
}

.ListHeading--container {
    position: relative;
}

.Heading, .ListHeading {
    font-family: $font-gibson;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    letter-spacing: .3px;
    font-weight: $weight-bold;
    margin-bottom: 0;
    @media (min-width: 992px) {
        font-size: 30px;
        line-height: 1;
    }
    &--black {
        font-family: $font-flood;
        color: $black;
        font-weight: 400;
        letter-spacing: -.5px;
    }
    &--pink {
        color: $pink;
    }
    &--purple {
        color: $purple;
    }
    &--aqua {
        color: $aqua;
    }
    &--green {
        color: $green;
    }
}

.Heading--text {
    @media (min-width: 992px) {
        font-size: 20px;
        line-height: 28px;
    }
}

.Heading, .Heading--link-wrapper, .Heading--text {
    @media (min-width: 992px) {
        width: 80%;
        margin: 0 auto;
    }
}

/* .Intro .Heading {
    @media (min-width: 992px) {
        width: 100%;
    }
} */

.Heading--link-wrapper {
    margin-top: 24px;
    @media (min-width: 992px) {
        margin-top: 30px;
    }
}

/* .Heading--link {
    text-decoration: underline;
    color: #111111;
    font-family: $font-titillium;
    font-size: 20px;
    line-height: 28px;
    font-weight: $weight-bold;
    &:hover {
        color: #111111;
    }
} */

.Heading--link {
    background-color: $white;
    border-radius: 25px;
    border: 1px solid $black;
    padding: 10px 20px;
    font-family: $font-gibson;
    font-weight: $weight-bold;
    font-size: 16px;
    color: $black;
    letter-spacing: $text-font-spacing;
    text-align: center;
    min-width: 250px;
    text-decoration: none;
    transition: .2s;
    display: inline-block;
    &:hover {
        color: $white;
        background-color: $black;
        text-decoration: none;
    }
}

.ListHeading {
    padding-top: 20px;
    @media (min-width: 992px) {
        padding: 317px 80px 0;
    }
}

.textshadow.not-iOS-device {
    .Heading--black, .ListHeading--black {
        text-shadow: 1px 1px 0px $black, 
                    1px 1px 0px $black,
                    1px 1px 0px $black,
                    1px 1px 0px $black;
    }
}

.no-textshadow, .textshadow.iOS-device {
    .Heading--black, .ListHeading--black {
        -webkit-text-stroke: 1px $black;
    }
}

.ListHeading--block {
    @media (min-width: 992px) {
        background-color: $lightGray;
    }
}

.asterisk {
    font-size: 16px;
    line-height: 30px;
    vertical-align: super;
    &, &:hover {
        color: inherit;
        text-decoration: none;
    }
}