.Hero {
  margin-top: $navbar-height-mobile;
  position: relative;
}

.Hero-grid {
  width: 100%;
}

.Hero-logo {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: 992px) {
      top: 0;
      left: 16.67%;
      width: 33.33%;
      transform: none; 
  }
}