.ListIntro {
    @media (max-width: 991px) {
        clear: both;
    }
    @media (min-width: 992px) {
        padding-top: 17px;
    }
} 

.Intro--heading, .ListIntro--heading {
    font-weight: $weight-bold;
}

.Intro--block {
    padding-top: 25px;
    @media (min-width: 992px) {
        width: 80%;
        margin: 0 auto;
    }
}

.ListIntro--wrapper {
    @media (min-width: 992px) {
        background-color: $lightGray;
        margin: 180px auto 0;
        width: 80%;
    }
}

.ListIntro--block {
    padding-top: 25px;
    @media (min-width: 992px) {
        padding-left: 80px;
        padding-right: 80px;
        &:last-child {
            padding-bottom: 312px;
        } 
    }
}

.Intro--icon {
    width: 14px;
}

.ListIntro--list {
    font-family: $font-titillium;
    font-weight: $weight-bold;
    list-style-type: none;
    padding-left: 20px;
    width: 95%;
    margin-bottom: 0;
}

.ListIntro--list-item {
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    padding: 10px 0 10px 10px;
    @media (min-width: 992px) {
        font-size: 20px;
        line-height: 28px;
    }
    &:before {
        content: url('../img/ic_check-grn.svg');
        position: absolute;
        right: 100%;
        width: 18px;
    }
}

.ListIntro--list-item:last-child {
    padding: 10px 0 0 10px;
}

.Intro--heading {
    @media (min-width: 992px) {
        font-size: 20px;
        line-height: 28px;
    }
}

.Intro--text, .ListIntro--text {
    @media (min-width: 992px) {
        font-size: 20px;
        line-height: 28px;
    }
}