.container, .container-fluid {
  padding-right:25px;
  padding-left:25px;
  @media (min-width: 414px) {
    padding-right:40px;
    padding-left:40px;
  }
}

.row {
  margin-right:-25px;
  margin-left:-25px;
}

.container {
  @media (min-width: 576px) and (max-width:767px) {
    max-width: 100%;
  }
}

div.outer-sp .container.container-intro {
  @include media-breakpoint-up(lg) {
    max-width:1100px;
  }
}

div.outer-sp .container.container-large {
  @include media-breakpoint-up(lg) {
    max-width:1050px;
  }
}

div[class*='col-'] {
  padding-left:25px;
  padding-right:25px;
}

.mobile {
  @include media-breakpoint-up(md) {
    display: none;
  }
}