section#footer {
  padding-top: 75px;
  padding-bottom: 70px;
  margin-top: 100px;
  background-color: $lightGray;
  @media (min-width: 992px) {
    margin-top: 140px;
    text-align: center;
  }
  .About-page & {
    padding-top: 100px;
  }
  footer#page-footer {
    p:not(.footer-title) {
      font-family: $font-titillium;
      font-size: 16px;
      color: $darkGray;
      line-height: 22px;
      padding-bottom:16px;
      @media (min-width: 992px) {
        display: inline-block;
        padding-bottom: 0;
      }
      &.disclaimer, &.legal-consent {
        font-family: $font-titillium;
        letter-spacing: $text-font-spacing;
        font-weight: normal;
        padding-top: 70px;
        padding-bottom: 0;
        color: $darkGray;
        @media (min-width: 992px) {
          width: 710px;
          margin: 0 auto;
        }
      }
      &.legal-consent {
        padding-top: 50px;
      }
    }
  }
}

.footer-link {
  color: $darkGray;
  text-decoration: underline;
  display: block;
  font-family: $font-titillium;
  font-size: 16px;
  letter-spacing: $text-font-spacing;
  line-height: 22px;
  padding-bottom: 24px;
  @media (min-width: 992px) {
    display: inline-block;
    padding: 0;
  }
}

.footer-social--wrapper {
  padding-top: 16px;
  @media (min-width: 992px) {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
}

.footer-social--icons {
  display: flex;
  justify-content: left;
  @media (min-width: 992px) {
    display: inline-block;
    padding-left: 16px;
  }
}

.footer-social--icon {
  display: block;
  width:34px;
  height:34px;
  float:left;
  margin:0 5px;
  box-shadow: 1px 1px rgba(0,0,0,0.3);
  border-radius: 100%;
  &.btn-fb {
    background: transparent url("../img/button_FB.svg") 0 0 no-repeat;
    margin-left: 0;
  }
  &.btn-twitter {
    background: transparent url("../img/button_Twitter.svg") 0 0 no-repeat;
  }
  &.btn-insta {
    background: transparent url("../img/button_IG.svg") 0 0 no-repeat;
    margin-right: 0;
  }
}

.footer-title {
  margin-top: 75px;
  margin-bottom: 0;
  color: $darkGray;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
}

.presskit {
  text-align: center;
  @include media-breakpoint-up(lg) {
    padding-top: 95px;
  }
}

.presskit h5.presskit-title {
  margin-bottom: 25px;
  margin-top: 0;
  font-family: $font-gibson;
}

.footer-logo--wrapper {
  padding-bottom: 75px;
  @media (min-width: 992px) {
    padding-bottom: 70px;
  }
}

.footer-logo {
  width: 125px;
  @media (min-width: 414px) {
    width: 155px;
  }
}

.footer-logo--nyu {
  margin-left: 20px;
  width: 118px;
  @media (min-width: 414px) {
    margin-left: 25px;
    width: 148px;
  }
  @media (min-width: 480px) {
    margin-left: 31px;
  }
  @media (min-width: 992px) {
    margin-left: 37px;
  }
}

.footer-links--wrapper {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
}

.divider {
  padding: 0 10px;
  display: inline-block;
  color: $darkGray;
  @media (max-width: 991px) {
    display: none;
  }
}