$navbar-height-mobile: 75px;
$navbar-mobile-menu-spacing: $navbar-height-mobile;

.navbar-montefiore-icon {
  background-image: url('../img/menu.svg');
  width:35px;
  height:35px;
}

div#nav-holder {
  width:100%;
  left:50%;
  transform:translateX(-50%);
  @media (min-width: 576px) and (max-width: 991px) {
    max-width: 576px;
  }
  @media (min-width: 992px) {
    max-width: 1260px;
  }
}

.navbar-montefiore-dark {
  max-width: 1440px;
  width: 100%;
  margin:0 auto;
  div.lockup {
    width:100%;
  }
  @include media-breakpoint-up(lg){
    border: none;
    div.lockup {
      @include make-col(12);
    }
  }

  background-color: #000000;
  @include media-breakpoint-up(lg){
    height:75px;
  }
  
  height: $navbar-height-mobile;
  padding:0 20px;
  @media (min-width: 992px) {
    padding: 0 20px;
  }
  button {
    outline:none;
    padding-right: 0;
  }
  .menu-text {
    font-family: $font-gibson;
    color:#FFFFFF;
    padding-right:10px;
    height:35px;
    display:block;
    float:left;
    line-height:35px;
    letter-spacing: 3px;
    font-size:14px;
    font-weight: $weight-semibold;
  }
  .navbar-brand{
    padding:0;
    margin:-5px 0 0 0;
  }

}

#menu-logo {
  width:35px;
  height:35px;
}

#navbarToggleExternalContent {
  position:relative;
  z-index:1000;
  bottom:0;
  right:0;
  width:100%;
  @media (min-width: 992px) {
    width: 414px;
    float: right;
  }
  .bg-light {
    padding-top: $navbar-mobile-menu-spacing;
    overflow-y: auto;
    @media (min-width: 992px) {
      height: 100vh;
      -webkit-overflow-scrolling:touch;
    }
  }
  &.show {
    .text-center {
      position: fixed;
      bottom: 70px;
      left: 0; 
      right: 0;
      @include media-breakpoint-up(lg){
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
      }
    }
  }
  @include media-breakpoint-up(lg){
    right:0;
    float:right;
    .bg-light {
      padding-bottom: 0;
    }
    &.collapsing {
      transition:none;
    }
  }

  a.nav-link{
    font-family: $font-titillium;
    font-size:16px;
    line-height:24px;
    letter-spacing: $text-font-spacing;
    padding:20px 30px;
    color:#111111;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 992px) {
      padding: 25px 30px;
      font-size: 20px;
      line-height: 28px;
    }
    border-bottom:solid 1px #B4B4B9;
  }
}

html.touch {
  #navbarToggleExternalContent {
    a.nav-link{
      &:hover {
        padding-left:30px;
        color:#111111;
        background:none
      }
    }
  }
}
div.modal.fade {
  opacity:.5;
  background-color:#000000;
}