$font-flood: flood-std, sans-serif;
$font-gibson: canada-type-gibson, sans-serif;
$font-titillium: titillium-web, sans-serif;

$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;

$text-font-spacing: 0.5px;

$black: #000000;
$white: #ffffff;
$pink: #FF3B7D;
$blue: #2D8EFF;
$purple: #9013FE;
$green: #1EA03C;
$aqua: #50E3C2;
$red: #D0031C;
$orange: #F5593F;
$teal: #329B96;
$lightGray: #F6F6F8;
$darkGray: #6E6E73;

//SIZES

$h5-font-size:22px;