@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "vars";
@import "stickynav";
@import "hero";
@import "intro";
@import "heading";
@import "connect";
@import "about";
@import "buttons";
@import "page_footer";
@import "_overrides.scss";

* {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    position:relative;
    background-color: #E6E6EB;
    overflow-x: auto !important;
}

.mobile-none {
    @media (max-width: 479.98px) {
        display: none;
    }
}

.small-none {
    @media (min-width: 480px) {
        display: none;
    }
}

p {
    font-family: $font-titillium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: $text-font-spacing;
    margin-bottom: 0;
}

.outline {
    -webkit-text-stroke: .5px $black;
    -webkit-text-fill-color: $white;
    color: $black;
}

.shade {
    background-color: $black;
}

div.outer {
    background-color: #FFFFFF;
    margin:0 auto;
    position: relative;
    @media (min-width: 576px) and (max-width: 991px) {
        max-width: 576px;
    }
    @media (min-width: 992px) {
        max-width: 1260px;
    }
    section {
        @include media-breakpoint-up(md) {
            .intro {
                div.intro-text p {
                    text-align: center;
                }
            }
        }
        @include media-breakpoint-up(lg){
            margin-left: auto;
            margin-right: auto;
            .intro-text {
                @include media-breakpoint-up(lg){
                    padding-left: 75px;
                    padding-right: 75px;
                }
            }
            .intro {
                max-width: 900px;
                text-align: center;
                div.intro-text p {
                    font-size: 20px;
                    line-height: 1.75;
                    letter-spacing: .5px;
                    padding:0 20px;
                    text-align: center;
                }
            }
        }
        .row.zigzag {
            padding: 100px 0;
        }
        .row.header {
            margin-bottom: 40px;
        }
        .header-image {
            max-width: 100%;
        }
        h5 {
            font-size: $h5-font-size;
            color: #FF02DB;
            letter-spacing: 0.5px;
            line-height: 30px;
            font-weight:bold;
            margin-top:30px;
            margin-bottom:0px;
        }
    }
}

.text-wrapper {
    & > .group {
        position: relative;
        z-index: 3;
    }
} 