{% extends 'twig/index_layout.twig' %}
{% block body %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLZ6R39"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="modal shade" style="z-index:800;display:none;"></div>
<div class="About-page outer">
   
    {% include "twig/_stickynav.twig" %}
    <section class="Hero">
        <img src="" srcset="" class="Hero-grid" alt="">
        <img src="img/BYS-about-lockup.svg" class="Hero-logo" alt="All about the Be You Squad">
    </section>

    <section class="Heading--wrapper">
        <div class="Heading--container container">
            <h2 class="Heading Heading--purple"><span class="Heading--black">Be you.</span><br />Be understood.</h2>
        </div>
    </section>

    <section class="Intro">
        <div class="Intro--container container">
            <div class="Intro--block">
                <p class="Intro--text">We get what it&#8217;s like to grow up queer because we live it. Some of us hold back who we are in different situations because we aren&#8217;t sure how people will react. Some of us feel invisible when we watch TV and movies because we don&#8217;t see people like us. And at school, hearing a teacher say &ldquo;boys to the left, girls to the right&rdquo; can make some of us totally panic.</p>
            </div>
        </div>
    </section>
    
    <section class="About">
        <div class="About--container container">
            <div class="About--wrapper About--wrapper-one">
                <div class="About--images-wrapper About--images-wrapper--one">
                    <img src="img/BYS-about-MEAGAN.jpg" srcset="img/BYS-about-MEAGAN@2x.jpg 2x" class="About--image" alt="Meagan">
                    <img src="img/diagonals-blue.svg" alt="Blue diagonals" class="About--pattern About--pattern-M">
                    <img src="img/diagonals-blue-D.svg" alt="Blue diagonals" class="About--pattern About--pattern-D">
                </div>
            </div>
        </div>
    </section>

    <section class="ListIntro">
        <div class="ListIntro--container container">
            <div class="ListIntro--wrapper">
                <div class="ListHeading--block">
                    <h2 class="ListHeading ListHeading--green"><span class="ListHeading--black">Be you.</span><br />Be unafraid.</h2>
                </div>
                <div class="ListIntro--block">
                    <p class="ListIntro--text">The Be You Squad is here for you. But we get it, reaching out can be scary. Just know that:</p>
                </div>
                <div class="ListIntro--block">
                    <ul class="ListIntro--list">
                        <li class="ListIntro--list-item">Anything we talk about is between us and only us &mdash; not your parents, friends, school or anyone else.</li>
                        <li class="ListIntro--list-item">This is totally free. Yes! Totally free. There&#8217;s no catch.</li>
                        <li class="ListIntro--list-item">We aren&#8217;t going to judge you. We just want you to know you are not alone. There are lots of queer young people like us out there.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="About">
        <div class="About--container container">
            <div class="About--wrapper About--wrapper-two">
                <div class="About--images-wrapper About--images-wrapper--two">
                    <img src="img/BYS-about-JONATHAN.jpg" srcset="img/BYS-about-JONATHAN@2x.jpg 2x" class="About--image" alt="Jonathan">
                    <img src="img/diagonals-red.svg" alt="Red diagonals" class="About--pattern About--pattern-M">
                    <img src="img/diagonals-red-D.svg" alt="Red diagonals" class="About--pattern About--pattern-D">
                </div>
            </div>
        </div>
    </section>

    <section class="Heading--wrapper">
        <div class="Heading--container container">
            <h2 class="Heading Heading--purple"><span class="Heading--black">Be you.</span><br />Be heard.</h2>
        </div>
    </section>

    <section class="Intro">
        <div class="Intro--container container">
            <div class="Intro--block">
                <p class="Intro--text">Sex is way more than just &ldquo;penis meets vagina&rdquo; which is the take home message from most sex ed classes. Growing up, those of us who are LGBTQ+ are pretty much invisible and left to figure things out on our own.</p>
            </div>
            <div class="Intro--block">
                <p class="Intro--text">So if you have questions about sex and how to be safe or what sex means for you, the Be You Squad is here for you because talking with someone who gets it can make a big difference.</p>
            </div>
        </div>
    </section>

    {% include "twig/_page_footer.twig" %}
    </div>
</body>
{% endblock %}