{% extends 'twig/index_layout.twig' %}
{% block body %}
  <div id="app_container"></div>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="js/App.js"></script>
  <script src="js/admin.js"></script>
{% endblock %}