{% extends 'twig/index_layout.twig' %}
{% block body %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLZ6R39"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script type="text/javascript">
    var ashID = "4p3mjyokeBZfxx57xllKFX1UaNgVoe38tqEJz8qZ";
    var meaganID = "O2sYkrzLdQTTubXu1EGU08fpN9tc7Nmn0CjhFW9_";
    var masonID = "lRq7ufZA8SoMUt25fHd9P2zkvxn_jSu-3C_cVAaQ";
    var tayshanaID = "WqPUVyh7u77Piz6j9rzJDO-yP1y5Z1YtcXkYwusm";
    var jonathanID = "WhEmW0nEA4t35Bvat3rRj7V7kyAp2sPlAr8dd--E";
    var haydenID = "dLF4xid2sNLeJKmndEm4yKlsTYMd074O-ru_fiXp";
    var tavarID = "J5cKNVM-MGOP91Lq3Off4iTNKzWisg25ZhQzTaUC";

    function openWidget(id) {
        var squadID;
        var widget = document.getElementById("heymarket-widget");
        switch(id) {
            case "ash":
            case "ash-tablet":
                squadID = ashID;
                break;
            case "meagan":
            case "meagan-tablet":
                squadID = meaganID;
                break;
            case "mason":
            case "mason-tablet":
                squadID = masonID;
                break;
            case "tayshana":
            case "tayshana-tablet":
                squadID = tayshanaID;
                break;
            case "jonathan":
            case "jonathan-tablet":
                squadID = jonathanID;
                break;
            case "hayden":
            case "hayden-tablet":
                squadID = haydenID;
                break;
            case "tavar":
            case "tavar-tablet":
                squadID = tavarID;
                break;
        }
        HeymarketWidget.construct({ CLIENT_ID: squadID});
        if(widget) {
            widget.parentNode.removeChild(document.getElementById("heymarket-widget"));
        }
    }
</script>

<div class="modal shade" style="z-index:800;display:none;"></div>
<div class="Home-page outer">
   
    {% include "twig/_stickynav.twig" %}
    <section class="Hero">
        <img src="" srcset="" class="Hero-grid" alt="">
        <img src="img/BYS-lockup.svg" class="Hero-logo" alt="We're your Be You Squad">
    </section>

    <div class="Heading--wrapper">
        <div class="Heading--container container">
            <h2 class="Heading Heading--pink"><span class="Heading--black">Let's Talk</span><br />Queer Health!</h2>
        </div>
    </div>
    

    <section class="Intro">
        <div class="Intro--container container">
            <div class="Intro--block">
                <p class="Intro--heading">LGBTQ-friendly care is just a text away!</p>
                <p class="Intro--text">If you’re having sex and are worried about HIV and other STIs, we got you. We aren’t going to judge your sex life or preach to you about what you’re doing wrong. But we can tell you everything we know about staying healthy including all about PrEP — an amazing little blue pill that can protect you from HIV by up to 99%. And whatever we can’t answer, we know LGBTQ-friendly health care professionals who can. We won’t leave you hanging.</p>
            </div>
            <div class="Heading--wrapper">
        
                <h2 class="Heading"><span class="Heading--black">Ready for LGBTQ-friendly health care?</span></h2>
                <p class="Heading--text">(If you get tested for HIV with us, we’ll even give you $20!)</p>
                <h2 class="Heading Heading--pink">Connect<a href="#legal" class="asterisk">*</a> with<br class="mobile" /> Sahara</h2>
                <div class="Heading--link-wrapper">
                    <a href="tel:3475140785" class="Heading--link">347-514-0785</a>
                </div>
            </div>
            
            <div class="Heading--wrapper">
                <h2 class="Heading Heading--pink"><span class="Heading--black">Want to talk</span><br /><span class="color-change">Queer</span> <span class="word">Dating?</span></h2>
            </div>
            <div class="Intro--block">
                <p class="Intro--heading">We’re young and queer too!</p>
                <p class="Intro--text">We know what it’s like to feel like no one gets you. Because we’ve lived it. But now we’re here for you. So you can text with someone just like you, who gets you.</p>
            </div>
            <div class="Intro--block">
                <p class="Intro--heading">Oh and Don’t Worry!</p>
                <p class="Intro--text">Our support is totally free and confidential. Whatever we chat about is between us.</p>
            </div>
        </div>
    </section>

    <section class="Connect">
        <div class="Connect--container container">
            <div class="Connect--block Connect--block-one odd" id="meet-ash">
                <div class="Connect--block-container">
                    <div class="Connect--block-wrapper">
                        <div class="Connect--heading-wrapper Connect--heading-wrapper--right">
                            <h3 class="Connect--heading"><span class="qm qm--blue">&#8220;</span><span class="outline">I felt alone<br /> for a long<br /> time, like there</span> <br /> was no one<br /> else like me in<br /> the Bronx<span class="qm qm--blue outer">&#8221;</span></h3>
                            <p class="Connect--byline Connect--byline--right">&mdash;Ash<br /> He/They<br /> 25 years old<br /> Bronx</p>
                            
                        </div>
                        
                        <img src="img/connect-img-ASH.jpg" srcset="img/connect-img-ASH@2x.jpg 2x" class="Connect--image">
                        <a href="sms:5169167814" class="Connect--button Connect--button-top mobile">Text with Ash</a>
                        <button class="Connect--button Connect--button-top tablet" onclick="openWidget(this.id)" id="ash-tablet">Text with Ash</button>
                        
                    </div>
                    <a class="Connect--dropdown-toggle collapsed top blue" data-toggle="collapse" href="#connectCollapseOne" role="button" aria-expanded="false" aria-controls="connectCollapseOne"><span class="Connect--dropdown-toggle_text">
                        Meet Ash 
                        <span class="Connect--dropdown-toggle_caret--text">Open<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                    </a>
                    <div class="Connect--collapse collapse" id="connectCollapseOne">
                        <div class="Connect--collapse-body">
                            <h3 class="Connect--name blue">Meet Ash</h3>
                            <p>I identify as a proud Transgender Latinx man. Born and raised in the Bronx, I have a passion for helping the multiple communities that have helped make me who I am. Being Puerto Rican and Spaniard has challenges in itself but being Transgender adds a whole other layer, which is why I would like to offer health, wellness, and safe sex recourse to the Queer community.</p>
                            <p class="Connect--availability"><b>Availability</b><br /> Wednesday, 3pm &ndash; 5pm<br /> Thursday &amp; Friday, 3pm &ndash; 6pm<br /> Saturday, 4pm &ndash; 6pm</p>
                            <div class="Connect--button-wrapper">
                                <button class="Connect--button Connect--button-bottom desktop" onclick="openWidget(this.id)" id="ash">Text with Ash</button>
                                <a href="sms:5169167814" class="Connect--button Connect--button-bottom mobile">Text with Ash</a>
                            </div>
                        </div>
                        
                        <a class="Connect--dropdown-toggle collapsed bottom" data-toggle="collapse" href="#connectCollapseOne" role="button" aria-expanded="false" aria-controls="connectCollapseOne"><span class="Connect--dropdown-toggle_text">
                            <span class="Connect--dropdown-toggle_caret--text">Close<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                        </a>
                            
                    </div>
                </div>
            </div>

            <div class="Connect--block Connect--block-two even" id="meet-mason">
                <div class="Connect--block-container">
                    <div class="Connect--block-wrapper">
                        <div class="Connect--heading-wrapper Connect--heading-wrapper--left">
                            <h3 class="Connect--heading"><span class="qm qm--green outer">&#8220;</span><span class="outline">I wish I had<br />  someone to<br /> talk to </span><br /> who got why<br /> I was feeling<br /> this way<span class="qm qm--green">&#8221;</span></h3>
                            <p class="Connect--byline Connect--byline--left">&mdash;Mason<br /> They/Them<br />21 years old<br /> NYC</p>
                            
                        </div>
                        
                        <img src="img/connect-img-MASON.jpg" srcset="img/connect-img-MASON@2x.jpg 2x" class="Connect--image">
                        <a href="sms:5169167883" class="Connect--button Connect--button-top mobile">Text with Mason</a>
                        <button class="Connect--button Connect--button-top tablet" onclick="openWidget(this.id)" id="mason-tablet">Text with Mason</button>
                        
                    </div>
                    <a class="Connect--dropdown-toggle collapsed top green" data-toggle="collapse" href="#connectCollapseTwo" role="button" aria-expanded="false" aria-controls="connectCollapseTwo"><span class="Connect--dropdown-toggle_text">
                        Meet Mason 
                        <span class="Connect--dropdown-toggle_caret--text">Open<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                    </a>
                    <div class="Connect--collapse collapse" id="connectCollapseTwo">
                        <div class="Connect--collapse-body">
                            <h3 class="Connect--name green">Meet Mason</h3>
                            <p>Hi! I use they/them pronouns, identify as queer, and I love everything green. I’m from Asbury Park, New Jersey but I’ve spent this last year moving around quite a bit and I’m now living in NYC. Growing up for me was good. I spent my summers working on the boardwalk and surrounded by a very open-minded community. Being where I’m from has always made it fairly easy for me to openly express myself. Even still, I struggled with finding people who understood why I didn’t feel comfortable with most other people’s “normal.” Academically, I study Public Health at Hunter College and I’m really interested in the intersections of health and queerness. I hope in the future to work in clinical and nonclinical spheres of health. My passion is to give back to the community that has allowed me to feel so much pride and love. If not working or doing schoolwork, I’ve been trying to practice mindfulness through doing things I love. I love listening to music: Bjork, Solange, Lorde and Arthur Russel. I love to run. Spending time with myself running alone is amazing. I also love queer movies. Some favorites are This is Not Berlin, Fire, and Bound. I love to cook and eat. And I love, love, love plants!</p>
                            <p class="Connect--availability"><b>Availability</b><br /> Monday &ndash; Friday, 3pm &ndash; 12am<br />Saturday &amp; Sunday, 1pm &ndash; 12am</p>
                            <div class="Connect--button-wrapper">
                                <button class="Connect--button Connect--button-bottom desktop" onclick="openWidget(this.id)" id="mason">Text with Mason</button>
                                <a href="sms:5169167883" class="Connect--button Connect--button-bottom mobile">Text with Mason</a>
                            </div>
                        </div>
                        
                        <a class="Connect--dropdown-toggle bottom" data-toggle="collapse" href="#connectCollapseTwo" role="button" aria-expanded="false" aria-controls="connectCollapseTwo"><span class="Connect--dropdown-toggle_text">
                            <span class="Connect--dropdown-toggle_caret--text">Close<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="Connect--block Connect--block-three odd" id="meet-tavar">
                <div class="Connect--block-container">
                    <div class="Connect--block-wrapper">
                        <div class="Connect--heading-wrapper Connect--heading-wrapper--right">
                            <h3 class="Connect--heading"><span class="qm qm--red">&#8220;</span><span class="outline">My sexuality<br /> does not<br /> define me<span class="outer">,</span></span><br /> It is only one<br /> small part of<br /> my identity<span class="qm qm--red outer">&#8221;</span></h3>
                            <p class="Connect--byline Connect--byline--right">&mdash;Tavar<br /> He/Him/His<br /> 20 years old<br /> Brooklyn</p>
                            
                        </div>
                        
                        <img src="img/connect-img-TAVAR.jpg" srcset="img/connect-img-TAVAR@2x.jpg 2x" class="Connect--image">
                        <a href="sms:5168714903" class="Connect--button Connect--button-top mobile">Text with Tavar</a>
                        <button class="Connect--button Connect--button-top tablet" onclick="openWidget(this.id)" id="tavar-tablet">Text with Tavar</button>
                        
                    </div>
                    <a class="Connect--dropdown-toggle collapsed top red" data-toggle="collapse" href="#connectCollapseThree" role="button" aria-expanded="false" aria-controls="connectCollapseThree"><span class="Connect--dropdown-toggle_text">
                        Meet Tavar 
                        <span class="Connect--dropdown-toggle_caret--text">Open<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                    </a>
                    <div class="Connect--collapse collapse" id="connectCollapseThree">
                        <div class="Connect--collapse-body">
                            <h3 class="Connect--name red">Meet Tavar</h3>
                            <p>Hope you like my avatar. I wish it was safe for me to post my photo here but I feel like being so openly queer can be dangerous, even in 2020. I grew up in a society where homosexuality was not accepted in any way, shape or manner. I grew up not understanding what I was feeling. I knew there was something different about me but I just couldn’t understand at that time what it was. I grew up in an Afro-Caribbean household where heteronormativity was praised but homonormativity was shunned. This caused me trauma that I could not comprehend at the time. I have now made it one of my life missions to understand my sexuality and why I experienced trauma my heterosexual counterparts did not. In college, I major in psychology and LGBTQIA+ studies where I focus on trauma within African American and Afro-Caribbean households. I want to understand why African American and Afro-Caribbean LGBTQIA+ individuals have been more prone to trauma. Researching and trying to understand these questions helped me understand my sexuality, and I realize the more I understand my sexuality, the more I embrace that part of my identity.</p>
                            <p class="Connect--availability"><b>Availability</b><br /> Monday, 9am &ndash; 2pm<br /> Wednesday, 1pm &ndash; 6pm</p>
                            <div class="Connect--button-wrapper">
                                <button class="Connect--button Connect--button-bottom desktop" onclick="openWidget(this.id)" id="tavar">Text with Tavar</button>
                                <a href="sms:5168714903" class="Connect--button Connect--button-bottom mobile">Text with Tavar</a>
                            </div>
                        </div>
                        
                        <a class="Connect--dropdown-toggle bottom" data-toggle="collapse" href="#connectCollapseThree" role="button" aria-expanded="false" aria-controls="connectCollapseThree"><span class="Connect--dropdown-toggle_text">
                            <span class="Connect--dropdown-toggle_caret--text">Close<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="Connect--block Connect--block-four even" id="meet-tayshana">
                <div class="Connect--block-container">
                    <div class="Connect--block-wrapper">
                        <div class="Connect--heading-wrapper Connect--heading-wrapper--left">
                            <h3 class="Connect--heading"><span class="qm qm--purple outer">&#8220;</span><span class="outline">Take time to<br /> understand<br />  what you feel</span><br /> You&#8217;re an<br /> ever-changing<br /> person and<br /> that&#8217;s okay<span class="qm qm--purple">&#8221;</span></h3>
                            <p class="Connect--byline Connect--byline--left">&mdash;Tayshana<br /> She/Her<br /> 20 years old<br /> Bronx</p>
                            
                        </div>
                        
                        <img src="img/connect-img-TAYSHANA.jpg" srcset="img/connect-img-TAYSHANA@2x.jpg 2x" class="Connect--image">
                        <a href="sms:5164478185" class="Connect--button Connect--button-top mobile">Text with Tayshana</a>
                        <button class="Connect--button Connect--button-top tablet" onclick="openWidget(this.id)" id="tayshana-tablet">Text with Tayshana</button>

                    </div>
                    <a class="Connect--dropdown-toggle collapsed top purple" data-toggle="collapse" href="#connectCollapseFour" role="button" aria-expanded="false" aria-controls="connectCollapseFour"><span class="Connect--dropdown-toggle_text">
                        Meet Tayshana 
                        <span class="Connect--dropdown-toggle_caret--text">Open<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                    </a>
                    <div class="Connect--collapse collapse" id="connectCollapseFour">
                        <div class="Connect--collapse-body">
                            <h3 class="Connect--name purple">Meet Tayshana</h3>
                            <p>Growing up in a Catholic family in the Bronx, I didn’t have many people I could ask for guidance about my sexuality and racial identity. I struggled a lot coming to terms with who I am. When I was young, I actively suppressed and halted my self-discovery. I denied myself acceptance for a long time. I had to learn how to be proud and comfortable with who I am on my own. Facing turmoil throughout my childhood gave me the inspiration to help others like me. I am a proud graduate of Bronx Community College and am currently working towards my bachelor’s degree in psychology. I have immersed myself in the queer community and have been lucky enough to find a sense of community, comfort and love within it. Throughout my years of studying at Bronx Community College, I realized I wanted to dedicate my career to the improvement of the Black/POC LGBTQ+ community. To me, this community has made me who I am today. I muted this part of me for the majority of my life but when I was ready to accept myself, this community nurtured me and helped me be who I am today. To repay this gift, I want to do everything I can to give back to my LGBTQ+ community.</p>
                            <p class="Connect--availability"><b>Availability</b><br /> Friday &amp; Saturday, 11am &ndash; 4pm</p>
                            <div class="Connect--button-wrapper">
                                <button class="Connect--button Connect--button-bottom desktop" onclick="openWidget(this.id)" id="tayshana">Text with Tayshana</button>
                                <a href="sms:5164478185" class="Connect--button Connect--button-bottom mobile">Text with Tayshana</a>
                            </div>
                        </div>
                        <a class="Connect--dropdown-toggle bottom" data-toggle="collapse" href="#connectCollapseFour" role="button" aria-expanded="false" aria-controls="connectCollapseFour"><span class="Connect--dropdown-toggle_text">
                            <span class="Connect--dropdown-toggle_caret--text">Close<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="Connect--block Connect--block-five odd" id="meet-meagan">
                <div class="Connect--block-container">
                    <div class="Connect--block-wrapper">
                        <div class="Connect--heading-wrapper Connect--heading-wrapper--right">
                            <h3 class="Connect--heading"><span class="qm qm--pink">&#8220;</span><span class="outline">I didn&#8217;t<br /> always realize<br /> I was queer<span class="outer">,</span></span><br /> but I felt like<br /> something<br /> was missing<span class="qm qm--pink outer">&#8221;</span></h3>
                            <p class="Connect--byline Connect--byline--right">&mdash;Meagan<br /> She/Her &amp;<br /> They Them<br /> 20 years old<br /> NYC</p>
                            
                        </div>
                        
                        <img src="img/connect-img-MEAGAN.jpg" srcset="img/connect-img-MEAGAN@2x.jpg 2x" class="Connect--image">
                        <a href="sms:5168887695" class="Connect--button Connect--button-top mobile">Text with Meagan</a>
                        <button class="Connect--button Connect--button-top tablet" onclick="openWidget(this.id)" id="meagan-tablet">Text with Meagan</button>

                    </div>
                    <a class="Connect--dropdown-toggle collapsed top pink" data-toggle="collapse" href="#connectCollapseFive" role="button" aria-expanded="false" aria-controls="connectCollapseFive"><span class="Connect--dropdown-toggle_text">
                        Meet Meagan 
                        <span class="Connect--dropdown-toggle_caret--text">Open<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                    </a>
                    <div class="Connect--collapse collapse" id="connectCollapseFive">
                        <div class="Connect--collapse-body">
                            <h3 class="Connect--name pink">Meet Meagan</h3>
                            <p>Hi there, I’m Meg! I grew up in San Antonio, TX and now I live and go to college in New York City for Health Science and Nonprofit Studies. In my spare time I love to sing at local lounges. Fun fact, I didn’t always know I was queer! It always felt like there was something missing in my life, some form of confidence I couldn’t achieve, and some part of me that I had to discover. When I came to college, I finally found the piece that was missing. I found friends that saw something in me I didn’t see yet. They helped me nourish my confidence in my queerness when I did discover it. There are so many things I wish I had learned more about in my public school curriculum, from better and more diverse sex ed in high school, to queer history. The list goes on. That’s why I’m here for you. I can’t promise I’ll always have the answers&mdash;in fact I know I won’t always have the answers but I know where we can find them. I want you to know you can always talk to me about anything from sexuality, to gender-queerness, to art, to what you’re passionate about, or anything else!</p>
                            <p class="Connect--availability"><b>Availability</b><br /> Monday &ndash; Friday, 6am &ndash; 8am &amp; 7pm &ndash; 12am<br /> Saturday &amp; Sunday, 10am &ndash; 12am</p>
                            <div class="Connect--button-wrapper">
                                <button class="Connect--button Connect--button-bottom desktop" onclick="openWidget(this.id)" id="meagan">Text with Meagan</button>
                                <a href="sms:5168887695" class="Connect--button Connect--button-bottom mobile">Text with Meagan</a>
                            </div>
                        </div>
                        <a class="Connect--dropdown-toggle bottom" data-toggle="collapse" href="#connectCollapseFive" role="button" aria-expanded="false" aria-controls="connectCollapseFive"><span class="Connect--dropdown-toggle_text">
                            <span class="Connect--dropdown-toggle_caret--text">Close<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="Connect--block Connect--block-six even" id="meet-jonathan">
                <div class="Connect--block-container">
                    <div class="Connect--block-wrapper">
                        <div class="Connect--heading-wrapper Connect--heading-wrapper--left">
                            <h3 class="Connect--heading"><span class="qm qm--orange outer">&#8220;</span><span class="outline">Knowing the<br /> resources we<br /> queer people</span><br /> have access<br /> to can be<br /> life changing<span class="qm qm--orange">&#8221;</span></h3>
                            <p class="Connect--byline Connect--byline--left">&mdash;Jonathan<br /> He/Him<br /> 23 years old<br /> Queens</p>
                            
                        </div>
                        
                        <img src="img/connect-img-JONATHAN.jpg" srcset="img/connect-img-JONATHAN@2x.jpg 2x" class="Connect--image">
                        <a href="sms:5166047175" class="Connect--button Connect--button-top mobile">Text with Jonathan</a>
                        <button class="Connect--button Connect--button-top tablet" onclick="openWidget(this.id)" id="jonathan-tablet">Text with Jonathan</button>

                    </div>
                    <a class="Connect--dropdown-toggle collapsed top orange" data-toggle="collapse" href="#connectCollapseSix" role="button" aria-expanded="false" aria-controls="connectCollapseSix"><span class="Connect--dropdown-toggle_text">
                        Meet Jonathan 
                        <span class="Connect--dropdown-toggle_caret--text">Open<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                    </a>
                    <div class="Connect--collapse collapse" id="connectCollapseSix">
                        <div class="Connect--collapse-body">
                            <h3 class="Connect--name orange">Meet Jonathan</h3>
                            <p>I’m a 23-year-old gay drama student at Queens College. I live in Jamaica, Queens, where I grew up. I’m adopted and I grew up in a group/adoptive household where I was often neglected and many of the kids that I grew up with were only living with us temporarily. In school, I was often bullied because I was different, because I was gay. Others seemed to know it before I even knew. But what kept me motivated to keep being myself was my passion for music, which helped me express myself and grow into the person I am today. I grew up in church, which taught me a lot. But as I got older, I learned that a lot of what I learned there was self-hate, which later as an adult I had to dismantle. Once I graduated high school, I made incredible lifelong friendships that have helped me grow and evolve and come into my own. So, despite what I’ve been through as a child, I’m constantly learning and growing. And I’m still passionate about the things that I love to do, including being there to help young people in a way that I would’ve wanted somebody to help me when I was young.</p>
                            <p class="Connect--availability"><b>Availability</b><br /> Wednesday, 1pm &ndash; 5pm<br /> Friday, 2pm &ndash; 6pm<br /> Saturday, 1pm &ndash; 3pm</p>
                            <div class="Connect--button-wrapper">
                                <button class="Connect--button Connect--button-bottom desktop" onclick="openWidget(this.id)" id="jonathan">Text with Jonathan</button>
                                <a href="sms:5166047175" class="Connect--button Connect--button-bottom mobile">Text with Jonathan</a>
                            </div>
                        </div>
                        <a class="Connect--dropdown-toggle bottom" data-toggle="collapse" href="#connectCollapseSix" role="button" aria-expanded="false" aria-controls="connectCollapseSix"><span class="Connect--dropdown-toggle_text">
                            <span class="Connect--dropdown-toggle_caret--text">Close<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="Connect--block Connect--block-seven odd" id="meet-hayden">
                <div class="Connect--block-container">
                    <div class="Connect--block-wrapper">
                        <div class="Connect--heading-wrapper Connect--heading-wrapper--right">
                            <h3 class="Connect--heading"><span class="qm qm--teal">&#8220;</span><span class="outline">I want all<br /> queer people<br />  to know</span><br /> that they are<br /> stronger than<br /> they have<br /> been taught<span class="qm qm--teal outer">&#8221;</span></h3>
                            <p class="Connect--byline Connect--byline--right">&mdash;Hayden<br /> He/Him<br /> 23 years old</p>
                            
                        </div>
                        
                        <img src="img/connect-img-HAYDEN.jpg" srcset="img/connect-img-HAYDEN@2x.jpg 2x" class="Connect--image">
                        <a href="sms:5167581930" class="Connect--button Connect--button-top mobile">Text with Hayden</a>
                        <button class="Connect--button Connect--button-top tablet" onclick="openWidget(this.id)" id="hayden-tablet">Text with Hayden</button>

                    </div>
                    <a class="Connect--dropdown-toggle collapsed top teal" data-toggle="collapse" href="#connectCollapseSeven" role="button" aria-expanded="false" aria-controls="connectCollapseSeven"><span class="Connect--dropdown-toggle_text">
                        Meet Hayden 
                        <span class="Connect--dropdown-toggle_caret--text">Open<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                    </a>
                    <div class="Connect--collapse collapse" id="connectCollapseSeven">
                        <div class="Connect--collapse-body">
                            <h3 class="Connect--name teal">Meet Hayden</h3>
                            <p>I was born to a privileged family, where HIV was a foreign concept but being White and Gay was acceptable. I never fit in with the surroundings of my upbringing. Being visibly queer and genderfluid since toddlerhood, my expression was often a topic of concern among parents at my elementary school. From a very young age it seemed that the universe had chosen a more challenging, yet possibly more rewarding path for my life. Instead of inspiring a judgement-free curiosity about my gender, society led me to a profound fear and hatred of my gender fluidity. Although I feared the nonbinary nature of my existence, I couldn’t seem to stop myself from expressing my fluidity. It wasn’t a choice. It was my truth. It has taken me over twenty years to discover the blessings in my struggle. I never wished to be queer as a child, yet I frequently say that I wouldn’t have chosen to be straight if given the option today. Whether you are queer or not, living with HIV or not, embrace the struggle wherever possible, and you will naturally rise to the occasion. It is within all of us.</p>
                            <p class="Connect--availability"><b>Availability</b><br /> Tuesday &amp; Thursday, 9am &ndash; 10pm<br /> Friday, 4pm &ndash; 10pm<br /> Saturday &amp; Sunday, 9am &ndash; 10pm</p>
                            <div class="Connect--button-wrapper">
                                <button class="Connect--button Connect--button-bottom desktop" onclick="openWidget(this.id)" id="hayden">Text with Hayden</button>
                                <a href="sms:5167581930" class="Connect--button Connect--button-bottom mobile">Text with Hayden</a>
                            </div>
                        </div>
                        <a class="Connect--dropdown-toggle bottom" data-toggle="collapse" href="#connectCollapseSeven" role="button" aria-expanded="false" aria-controls="connectCollapseSeven"><span class="Connect--dropdown-toggle_text">
                            <span class="Connect--dropdown-toggle_caret--text">Close<img src="img/ic_story-toggle.svg" class="Connect--dropdown-toggle_caret"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Heading--wrapper">
        <div class="Heading--container container">
            <h2 class="Heading Heading--pink"><span class="Heading--black">Ready to talk?</span><br />Just connect with<br class="mobile" /> one of us.</h2>
        </div>
    </section>

    {% include "twig/_page_footer.twig" %}
    </div>
</body>
{% endblock %}